<div class="container-fluid mb-5" style="position: absolute; top:0">
<div class="container chatBody">
    <div class="row mt-2">
        <div class="col-12" id="painel">


        </div>
    </div>
</div>
<div class="container chatInput">
    <div class="row">
        <div class="col-12 mt-2">
            <div class="input-group">
                <input type="text" class="form-control inputMSG" id="msgText" placeholder="Digite sua mensagem">
                <span class="input-group-btn" id="sendBTN" onclick="send()">
                    <button class="btn btn-default btnSend"><i class="material-icons" id="icon">send</i></button>
                </span>
            </div>
        </div>
    </div>
</div>
